*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.container{
    height: 30px;
    width: 800px;
    border-radius: 10px;
    border: 2px solid black;
}

.percentage{
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 44%;
    left: 50%;
}

.loading-Bar{
    background-color: orange;
    width: 0;
    height: 100%;
}