/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.container{
    width: 500px;
    height: 400px;
}

.image_container{
    display: flex;
    width: 500px;
    height: 400px;
    /* overflow: hidden; */
    margin-bottom: 13px;
}
.image_container img {
    display: flex;
    /* margin: 10px; */
    width: 500px;
    height: 400px;
    border-radius: 10px;
    transition: 1s ease;
}

.button_container{
    display: flex;
    justify-content: space-between;
}

button{
    width: 49.5%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: rgb(6, 6, 7);
    color: white;
    border-radius: 5px;
}

button:hover{
    opacity: 0.6;
} */




#slider { 
    position: relative;
    width: 300px; 
    margin: 20px auto;
}
.slide {
    position: absolute;
    width: 300px;
    left: 0px;
    top: 0px;
    animation-name:fading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes fading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}