*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px;
    background-color: white;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    background-color: green;
    color: white;
}

label{
    display: block;
    font-size: 17px;
    margin: 10px;
}

input{
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button{
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(0, 146, 0);
    color: white;
    margin: 10px;
}

.result{
    font-weight: 700;
    padding: 10px;
    font-size: 18px;
    margin: 10px;   
}

#bmi_value, #bmi_status{
    color: green;
}