*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Ripple{
    height: 50px;
    border: none;
    width: 150px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    position: relative;
    overflow: hidden;
}

.circle{
    border-radius: 50%;
    background-color:violet;
    position: absolute;
    animation: animation_name linear;
    animation-duration: 0.6s;
    transform: scale(0);
}

@keyframes animation_name{
    to{
        opacity: 0;
        transform: scale(4);

    }
}